.tablero{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-color: black;
    height: 20em;
    background-color: blueviolet;   
}

.caja{

border: 2px solid;
margin: 1%;
}

.techo{
background-color: brown;
height: 15vh;

}

button {
    padding: 20px;
    font-size: 30px;
    background: white;
    box-shadow: 0;
    border: 1px solid black;
    border-radius: 20px;
  }
